// DEFINE GLOBAL COLORS STYLE

/* white - grey - black colrs */
$c-white: #fff !default;
$c-grey-1: #f8f9fa !default;
$c-grey-2: #e9ecef !default;
$c-grey-3: #dee2e6 !default;
$c-grey-4: #ced4da !default;
$c-grey-5: #adb5bd !default;
$c-grey-6: #6c757d !default;
$c-grey-7: #495057 !default;
$c-grey-8: #343a40 !default;
$c-grey-9: #212529 !default;
$c-black: #000;

/* theme colors p s t 4 5 */
$tc-1: #0074d9 !default;
$tc-2: #7dd8f1 !default;
$tc-3: #e92f25 !default;
$tc-4: rgb(250, 40, 187) !default;
$tc-5: rgb(233, 160, 50) !default;

//contrast
$min-contrast-ratio: 4.5 !default;

// Customize the light and dark text colors for use in our color contrast function.
$color-contrast-dark: $c-black !default;
$color-contrast-light: $c-white !default;
