body {
  background-color: $c-grey-1;
  color: $c-th-6;
  font-weight: $fw-bo;
  font-size: $bfs; // currently ems cause chrome bug misinterpreting rems on body element
  font-family: $font-family-english;
}
div {
  font-family: $font-family-english;
  text-transform: lowercase;
  text-shadow: brown;
  text-orientation: sideways;
  text-anchor: start;
  line-height: 1.2em;
  &-u {
    font-family: $font-family-urdu;
    font-weight: $fw-b;
    font-size: $bfs * 0.5;
    line-height: 1.4em;
    direction: rtl;
    text-align: start;
  }
  &-a {
    font-family: $font-family-arabic;
    font-weight: $fw-bo;
    font-size: $bfs * 0.5;
    line-height: 1.6em;
    text-align: right;
    direction: rtl;
    text-align: justify;
  }
}
