// COLORS AND BACKGROUND COLOR STYLE USE IN APP
/* THEME COLORS FOR APP */
.color {
  &-p {
    color: $c-th-1;
  }
  &-s {
    color: $c-th-2;
  }
  &-i {
    color: $c-th-3;
  }
  &-w {
    color: $c-th-4;
  }
  &-d {
    color: $c-th-5;
  }
}
