//$breakpoints: (
// sm: rem(540px),
// md: rem(720px),
// lg: rem(960px),
// xl: rem(1140px),
// xxl: rem(1320px),

/* CONTAINER BREAK-POINT CSS PROPERTIES*/
.container {
  position: relative;
  margin: 0 auto;
  padding: 10px 10px;
  width: 100%;
  background-color: $c-container-bg;
  border-radius: 10px;
  border: 3px solid $color-primary;

  @include breakpoint-min(sm) {
    max-width: map-get($container-max-widths, "sm");
  }
  @include breakpoint-min(md) {
    max-width: map-get($container-max-widths, "md");
  }
  @include breakpoint-min(lg) {
    max-width: map-get($container-max-widths, "lg");
  }
  @include breakpoint-min(xl) {
    max-width: map-get($container-max-widths, "xl");
  }
  @include breakpoint-min(xxl) {
    max-width: map-get($container-max-widths, "xxl");
  }
  &-full {
    max-width: 100%;
  }
}
