// DEFINE GLOBAL COLOR FOR APP
//body colors
$body-bgc: rgb(244, 246, 248);
$body-c: rgb(25, 22, 22);
//theme-colors
$color-primary: rgb(31, 126, 26);
$color-secondary: rgb(208, 182, 37);
$color-3: rgb(134, 185, 230);
$color-4: rgb(235, 84, 164);
$color-5: rgb(196, 54, 231);

//text colors
$c-ar-text: rgb(59, 130, 24);
$c-ur-text: rgb(238, 28, 227);

//link colors
// button colors
// container background
$c-container-bg: rgb(230, 153, 230);
