$space-base: 8px !default;
// The Spaces map is great for maintaining consistency
// in your development.
// Useful for padding and margins.
//
// e.g. property: map-get($spaces, sm);

$spaces: (
  xxxs: rem($space-base),
  xxs: rem($space-base * 2),
  xs: rem($space-base * 3),
  sm: rem($space-base * 4),
  md: rem($space-base * 5),
  lg: rem($space-base * 6),
  xl: rem($space-base * 7),
  xxl: rem($space-base * 8),
  xxxl: rem($space-base * 9),
) !default;

// container break-points
$breakpoints: (
  sm: rem(540px),
  md: rem(720px),
  lg: rem(960px),
  xl: rem(1140px),
  xxl: rem(1320px),
) !default;

//media query break-points

// The breakpoint-min() & breakpoint-max() mixins we be rendered in EM units.
// We'll perform the pixel to EM conversion within the mixins.
// Please list breakpoints in pixel values.

$container-max-widths: (
  sm: rem(540px),
  md: rem(720px),
  lg: rem(960px),
  xl: rem(1140px),
  xxl: rem(1320px),
) !default;
$grid-breakpoints: (sm, md, lg, xl, xxl) !default;

$grid-columns: 12 !default;

// Gutter is applied to padding-left and padding-right. The value is not split.
$grid-gutter: map-get($spaces, xxs) !default;
