// font family
$font-family-english: "Roboto", sans-serif;
$font-family-urdu: "Alvi Nastaleeq", sans-serif;
$font-family-arabic: "1 MUHAMMADI QURANIC", sans-serif;
//font-size
$bfs: 2em;
//font-weight
$fw-l: lighter;
$fw-n: normal;
$fw-b: bold;
$fw-bo: bolder;
$fw-1: 100;
$fw-2: 200;
$fw-3: 300;
$fw-4: 400;
$fw-5: 500;
$fw-6: 600;
$fw-7: 700;
$fw-8: 800;
$fw-9: 900;
